*:focus {
  outline: 0;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
}


.forecastmapping .nav-item a {
  color: #000000 !important;
  margin: 0 10px 20px 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.forecastmapping .nav-item a.active {
  color: red !important;
}

/* Loader Defination */

.Loader {
  width: 50px;
  height: 50px;
  margin: 5rem auto;
  border-radius: 50%;
  border: 8px solid #f2f2f2;
  border-top: 8px solid #f37928;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Warning Defination */

.Warning {
  display: flex;
  padding: 2rem 3rem;
  text-align: center;
  flex-direction: column;
}

.Warning > * {
  padding: 0.15rem 0;
}
